@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  padding: 0;
  position: relative;
}

#body {
  padding: 10px;
  padding-bottom: 250px;
}
