@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css");

html, body {
  background-color: #50514f;
}

#navbar {
  margin-bottom: 20px;
}

#navbar img {
  margin-right: 8px;
}