
.projects-card .card-header {
    background-color: #247ba0;
    border-color: #247ba0;
    color: white;
}

.projects-card .search-input-button {
    background-color: #f25f5c;
    border-color: #f25f5c;
    color: white;
}

.projects-card .card-footer .btn.btn-secondary {
    margin-right: 8px;
}