@import url("common.css");

html, body {
  background-color: #50514f;
}

.navbar img {
  margin-right: 8px;
}

.container-fluid .bg-dark{
  background-color: #70C1B3 !important;
}

/* administration login */

.admin-login{
  margin-top: 100px;
}

.admin-login .card {
  border-color: #247BA0;
}

.admin-login h4{
  color: white;
}

/* cards */

.list-group {
  margin-top: 20px;
}

/* users card */
.users-card .card-footer .btn {
    margin-right: 5px;
}

/* projects card */

.projects-card .card-header {
    background-color: #247ba0;
    border-color: #247ba0;
    color: white;
}

.projects-card .card-footer .btn.btn-secondary {
    margin-right: 8px;
}
