
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

#footer hr {
    color: #70C1B3;
}

#footer .footer-copyright  {
    padding: 8px;
}

#footer .footer-text {
    padding-top: 8px;
    margin-bottom: 0px;
}

#footer .footer-icon {
    color: #70C1B3;
    padding: 8px;
}

#footer p{
  margin:0;
}
